.VideoComponent{
    width: 100%;
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
    opacity: 5px;
    padding: 15px;
    box-shadow: 0 0 10px lightgrey;
}
.Header{
    margin-top: 20px;
    font-size: 20px;
    color: #3598DC;
    margin-bottom: 20px;
}
.mainWrapperComponent{
    display: flex;
    justify-content: space-between;
}