.titleVideo {
  font-weight: 700;
  font-size: 13px;
  word-break: break-all;
}

/* -------------new video card--------------- */
.wrapperVideoCard {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
  padding: 5px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
.videoPreview {
  height: 140.625px;
  max-width: 100%;
  background: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rowCardTitle {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 12px;
}
#rowCardInfo {
  margin-left: 0px;
  margin-right: 0px;
}
.addedVideoInfo {
  color: #838383;
  font-size: 12px;
}
.vertIcon {
  cursor: pointer;
  display: inline-block;
}
#menuVideoCard .MuiMenuItem-root {
  font-size: 0.9rem !important;
  padding-top: 2px;
  padding-bottom: 2px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
