.CardComponent {
  padding: 10px;
}
.VideoCardComponent {
  width: 189vh;
}
#homeContainerWrap {
  padding: 0%;
  margin: 0%;
  max-width: 95%;
}
#headerCardWrap {
  display: flex;
}
#videoTypeInput {
  width: 80%;
}
.wrapperHomeContent {
  margin-top: 4.5%;
  width: calc(100% - 235px);
  margin-left: 235px;
  padding: 10px;
}
.wrapperHomeContentFull {
  margin-top: 4.5%;
  width: 100%;
  padding: 10px;
}
@media only screen and (max-width: 960px) {
  .wrapperHomeContent {
    margin-top: 6%;
  }
  .wrapperHomeContentFull {
    margin-top: 6%;
  }
}
@media only screen and (max-width: 768px) {
  .wrapperHomeContent {
    margin-left: 0px;
    width: 100vw;
    margin-top: 6.8%;
  }
  .wrapperHomeContentFull {
    margin-top: 6.8%;
  }
  .wrapperDashboard {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 550px) {
  .wrapperHomeContent {
    margin-top: 12%;
    width: 96vw;
  }
  .wrapperDashboard {
    margin-top: 25px;
  }
  .wrapperHomeContentFull {
    margin-top: 12%;
  }
}

@media only screen and (max-width: 400px) {
  .wrapperHomeContent {
    margin-top: 15%;
    width: 96vw;
  }
  .wrapperDashboard {
    margin-top: 10px;
  }
  .wrapperHomeContentFull {
    margin-top: 15%;
  }
}
.actionsHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapperActivityHome {
  background: #f3f7fa;
  padding-top: 40px;
  box-shadow: -2px 3px 7px #d3d3d3;
  padding-bottom: 40px;
  margin-top: 20px;
}
.wrapperDashboard {
  margin-top: 25px;
  margin-bottom: 20px;
}
.cntrlText {
  font-size: 0.9rem;
}
.dashboardTxt {
  font-weight: 500;
}
.footerDashboard {
  position: fixed;
  height: 5vh;
  bottom: 0;
  width: 100%;
  background: #f3f7fa;
}
.navFooterIcons {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
  color: #000;
  height: 100%;
}
.wrapperDashVideos {
  margin-bottom: 20px;
}
