/* .MianContainer{
    margin-left: -100px;
    margin-right: -200px;
} */
.CardComponent{
    padding: 10px;
}
.VideoCardComponent{
    width: 189vh;
}
#homeContainerWrap{
padding: 0%;
margin: 0%;
max-width: 95%;
}
#headerCardWrap{
    display: flex;
}
#videoTypeInput{
    width: 80%;
}