@media (min-width: 1280px) {
  .modal-dialog {
    max-width: 1000px !important;
    margin: 1.75rem auto;
  }
}
@media (min-width: 1080px) {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}
@media (min-width: 960px) {
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
  }
}
@media (min-width: 780px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
}
