.firstLayoutContainer{
    background-color:rgba(39, 51, 62, 0.6);
    height: 100vh;
    background-image: linear-gradient(-135deg,rgba(16,20,128,.7) 25%,rgba(159,85,255,.7));
}
.firstLayoutMainContainer
{
    padding-left: 10%;
}
.signUp{
  padding-top: 15%;
    color: white;
    font-size: 60px;
}
.logo{
    color: white;
    font-size: 50px;
    font-weight: 900;
}
.login{
    color: white;
    font-size: 25px;
}
.secondLayoutMainContainer{
    padding-left: 5%;
}
.loginTwo{
    padding-top: 15%;
    color: #101480;
    font-size: 55px;
    font-weight: 600;
}
.createAccount{
    display: flex;
}
.account{
    font-size: 20px;
    color: #646F79;
}
.create{
    padding-left: 10px;
    font-size: 20px;
    color: #9F55FF;
    font-weight: bold;
    cursor: pointer ;
}
.textInput{
    display: flex;
    width: 70%;
    border-style: solid;
    border-width: 2px;
    border-color: #9F55FF;
    border-radius: 10rem;
    justify-content: space-between;
}
.buttonWrapper{
    margin-top: 20px;
    width: 30%;
    border-style: solid;
    border-width: 3px;
    border-color: #9F55FF;
    border-radius: 10rem; 
}
/* .MainContainer{
    width: 30%;
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
    opacity: 5px;
    padding: 15px;
    box-shadow: 0 0 10px lightgrey;
}
.RegisterAccount{
    display: flex;
    flex-direction: row;
}
.Account{
    margin: 10px;
} */