.wrapperMusicAssets {
  padding: 20px;
}
.assetHeading {
  padding: 15px 0px 0px 30px;
}
.imgAssetLib {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
.wrapperAudioLib {
  padding: 10px;
}
.wrapperAudioLib h5 {
  padding-left: 10px;
}
.showDeleteBtn {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
.showDeleteBtn:focus {
  outline: none;
}
.hideDeleteBtn {
  display: none;
}
@media (max-width: 400px) {
  .wrapperMusicAssets {
    padding: 0px;
  }
}
