.wrapperProfileSection {
  padding-top: 6%;
}
@media only screen and (max-width: 768px) {
  .wrapperProfileSection {
    padding-top: 8%;
  }
}
@media only screen and (max-width: 550px) {
  .wrapperProfileSection {
    padding-top: 8%;
  }
}

@media only screen and (max-width: 400px) {
  .wrapperProfileSection {
    padding-top: 12%;
  }
}
#profilePhotoWrap {
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 30px;
  box-shadow: 0px 0px 5px #cac6c6;
  padding: 20px;
}
#profilePhotoHead {
  display: flex;
  padding-top: 5px;
  padding-bottom: 0%;
  color: #0071bc;
}
#infoCircleStyle {
  margin-top: 5px;
  margin-left: 5px;
}
#uploadProfilePara {
  margin-top: 8px;
  margin-left: 5px;
  font-weight: 200;
  font-size: small;
}
#profileImgWrap {
  display: flex;
  justify-content: center;
}
#profileImgStyle {
  border-radius: 5px;
  width: 160px;
  height: 160px;
}
#profileImgLabelWrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#profileImgLabelStyle {
  padding: 5px;
  background-color: royalblue;
  color: #ffffff;
  cursor: pointer;
}
#profileSelectInput {
  position: absolute;
  display: none;
}

/* --------------------------------Your Profile Style------------------------------------------------------------ */

#yourProfileWrap {
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 30px;
  box-shadow: 0px 0px 5px #cac6c6;
  padding: 20px;
}
#yourProfielHead {
  color: #0071bc;
}

#formInput input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0%;
  border-radius: 0%;
}
#typeInput:focus {
  color: #575756;
  background-color: #fff;
  border-color: #cac6c6;
  outline: 0;
  box-shadow: none;
}
#fromFields {
  padding: 0%;
}
#yourProfileUpdateBtn {
  background-color: rgb(48, 126, 156);
  border: none;
  border-radius: 0%;
}
#memberDubbPara {
  font-size: small;
  font-weight: 200;
}
#typeSelectInput {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0%;
  border-radius: 0%;
}
#typeSelectInput:focus {
  color: #575756;
  background-color: #fff;
  border-color: #cac6c6;
  outline: 0;
  box-shadow: none;
}

/* ------------------------------------------Link Dubb Account-------------------------------- */
#linkAccountHead {
  color: #0071bc;
}
#linkAccountWrap {
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 30px;
  box-shadow: 0px 0px 5px #cac6c6;
  padding: 20px;
}
#linkAccountSendBtn {
  background-color: rgb(48, 126, 156);
  border: none;
  border-radius: 0%;
}
.profileBtn {
  color: #fff;
  background-color: #3598dc !important;
  border-color: #3598dc !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
}
.profileBtn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
}
