.HeaderContainer {
  background-color: var(--blue-theme);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* height: 10vh;
  max-height: 10vh; */
  height: 61px;
  z-index: 1;
}
.startHeader {
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.endHeader {
  width: 36%;
  display: flex;
  justify-content: flex-end;
}

.wrapperEnd {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}
.hamburgerTop {
  display: none !important;
}
#hamburgerSide {
  display: block !important;
  cursor: pointer;
}

.HeaderComponent {
  display: flex;
  flex-direction: row;
  height: 10vh;
}
.centerHeader {
  width: 28%;
}
.headerStyle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 14px;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
}
.IconComponents {
  display: flex;
  flex-direction: row;
  flex: 0.5;
}
.ImagePlusTag {
  margin-top: 20px;
  width: 30px;
  cursor: pointer;
  height: 30px;
}
.ImageGiftTag {
  margin-top: 20px;
  margin-left: 20px;
  width: 30px;
  cursor: pointer;
  height: 30px;
}

.avatarNav {
  border-radius: 50%;
  width: 35px;
}

@media only screen and (max-width: 768px) {
  .wrapperEnd {
    width: 90%;
    margin-left: 10px;
  }
  .headerStyle {
    font-size: 1.5rem !important;
    margin-top: 20px !important;
    text-align: start !important;
  }
  .hamburgerTop {
    display: block !important;
  }
  #hamburgerSide {
    display: none !important;
  }
}

@media (max-width: 380px) {
  .endHeader {
    width: 50% !important;
  }
  .centerHeader {
    width: 20% !important;
  }
  .startHeader {
    width: 30% !important;
  }
  .wrapperEnd {
    width: 100% !important;
  }
  .headerStyle {
    font-size: 16px !important;
    margin-top: 25px !important;
  }
}

@media (max-width: 320px) {
  .wrapperEnd {
    width: 100% !important;
  }
  .headerStyle {
    font-size: 12px !important;
    margin-top: 20px !important;
  }
}
