.HeaderContainer {
  background-color: var(--blue-theme);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 10vh;
  max-height: 10vh;
  z-index: 1;
}
.startHeader {
  width: 33%;
}
.endHeader {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.wrapperEnd {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .wrapperEnd {
    width: 90%;
    margin-left: 10px;
  }
  .HeaderStyle {
    font-size: 1.5rem !important;
    margin-top: 20px !important;
  }
}

.HeaderComponent {
  display: flex;
  flex-direction: row;
  height: 10vh;
}
.centerHeader {
  width: 33%;
}
.HeaderStyle {
  text-align: center;
  margin-top: 10px;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
}
.IconComponents {
  display: flex;
  flex-direction: row;
  flex: 0.5;
}
.ImagePlusTag {
  margin-top: 20px;
  width: 30px;
  cursor: pointer;
  height: 30px;
}
.ImageGiftTag {
  margin-top: 20px;
  margin-left: 20px;
  width: 30px;
  cursor: pointer;
  height: 30px;
}

.avatarNav {
  border-radius: 50%;
  width: 35px;
}
