.VideoComponent {
  width: 100%;
  margin-top: 5%;
  opacity: 5px;
  padding: 15px;
  /* margin-left: 8px;
  margin-right: 8px; */
  /* box-shadow: 0 0 10px lightgrey; */
  border: 1px solid #e7ecf1 !important;
}
.Header {
  margin-top: 5px;
  font-size: 16px;
  color: #3598dc;
  margin-bottom: 5px;
  font-weight: 700 !important;
  padding-left: 3px;
  line-height: 18px;
}
.mainHeadingWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid #eef1f5;
  margin-bottom: 13px;
  align-items: center;
}
