.CardMain {
  width: 100%;
  height: 100px;
  /* margin-top: 30px; */
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.Title {
  font-size: 1.2rem;
  /* line-height: 36px; */
  letter-spacing: -1px;
  font-weight: 300;
}
.Description {
  padding-top: 5px;
  font-size: 0.8rem;
  font-weight: 400;
}
.iconCards {
  font-size: 20px;
}
.wrapperIconCard {
  width: 60px;
  height: 60px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  margin-right: 8px;
  margin-left: -8px;
}
.detailsCard {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 9%;
}
.CardMain .MuiLinearProgress-barColorPrimary {
  background-color: #d3d3d3 !important;
}
.CardMain .MuiLinearProgress-root {
  height: 2px !important;
}

@media only screen and (max-width: 1150px) {
  .Title {
    font-size: 1rem !important;
    font-weight: 300 !important;
  }
  .iconCards {
    font-size: 25px !important;
    margin: 5px !important;
  }
}
@media only screen and (max-width: 1022px) {
  .Title {
    font-size: 0.8rem !important;
    font-weight: 300 !important;
  }
}

@media only screen and (max-width: 960px) {
  .Title {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
  }
  .iconCards {
    font-size: 25px !important;
    margin: 16px !important;
  }
}
@media (max-width: 400px) {
  .Title {
    font-size: 10px !important;
    font-weight: 400 !important;
  }
  .iconCards {
    font-size: 20px !important;
    margin: 16px !important;
  }
}
.title-text {
  text-align: right;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 300;
}
