.containerCampaign {
  margin-top: 100px;
  margin-bottom: 20px;
}
/* -----recording screen wrapper */
.recorderWrapper .hCBOlN {
  padding: 0px;
  margin-bottom: 80px;
}
.recorderWrapper {
  height: 500px;
}
.introHeading {
  padding-top: 40px !important;
}
.recordHeading {
  text-align: center;
  font-weight: 700;
  padding: 10px 0px 5px 0px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 15px;
}

/* ------prev newxt buttons wrappers */
.btnSingleWrap {
  padding: 20px 5px;
  display: flex;
  justify-content: flex-end;
}
.btnDoubleWrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}

/* -- */
.wrapperMerge {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.labelUploadSection {
  font-weight: 600;
  letter-spacing: 1px;
}
.addLogoMessage {
  padding: 20px 0px;
}
.positionTxt {
  padding-top: 20px;
}
#formInput input {
  padding: 8px !important;
}
