.MainDrawer {
  background-color: #222933;
  border-radius: 1px;
  height: 95vh;
  min-height: 700px;
  opacity: 5px;
  /* box-shadow: 0 0 10px lightgrey; */
  width: 235px;
  position: fixed !important;
  margin-left: 0;
  /* transition: transform 2s ease-in-out; */
  transition: left 1s cubic-bezier(0.82, 0.085, 0.395, 0.895);
}
.MainDrawerHide {
  transform: translateX(-1000px);
  display: none;
}
.wrapperProfileSidebar {
  width: 100%;
  height: 15%;
  margin-bottom: 10px;
  /* background: var(--green-theme); */
  /* background: #f3f7fa; */
  background-color: #222933;
  border-bottom: 1px solid white;
  color: white;
}
.avatarSidebar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  /* background-color: white; */
  border: 2px solid white;
}
.infoProfile {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}
.wrapperDetails {
  display: flex;
  padding: 30px 10px 20px 10px;
  font-size: 0.8rem;
  color: #fff;
  /* color: #202020; */
}

.OptionIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  color: #9fa5b3;
}
.OptionIcons:hover {
  background-color: #2c3542;
  cursor: pointer;
  color: #c4cbd6;
}
.IconNameStyling {
  font-family: "Poppins", sans-serif;
  color: #b4bcc8;
  margin-left: 20px;
  font-weight: 300 !important;
  cursor: pointer;
}
.dashboardOption {
  margin-bottom: 20px;
  color: #fff !important;
}
.dashboardOption .IconNameStyling {
  color: #fff;
}
.dashboardOption .dashboard {
  color: #fff !important;
}
.assetLibrary {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .MainDrawer {
    display: none;
    transform: translateX(-1000%);
  }
}
