.MainDrawer{
    width: auto;
    background-color: #2C3541;
    border-radius: 1px;
    height: 100vh;
    opacity: 5px;
    padding: 15px;
    box-shadow: 0 0 10px lightgrey;
}
.OptionIcons{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.IconNameStyling{
    color: white;
    margin-left: 20px;
    font-size: 15px;
}