body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", "Lato", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-family: "Open Sans", sans-serif !important;
  --pink-color: #ff49c3;
  --lite-bg-color: #f8f8f8;
  --dark-bg-color: #ececec;
  --gray: #575756;
  --tutu: #ffeff9;
  --lite-pink-color: #ff6dcf;
  --gray-theme: #48465b;
  --dark-gray: #333333;
  --blue-theme: #46adf0;
  --purple-theme: #936ee0;
  --orange-theme: #f9686b;
  --green-theme: #44be8b;
}
