.firstLayoutContainer {
  background-color: rgba(39, 51, 62, 0.6);
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    -135deg,
    rgba(16, 20, 128, 0.7) 25%,
    rgba(159, 85, 255, 0.7)
  );
}
.firstStateLayoutContainer {
  background-color: rgba(39, 51, 62, 0.6);
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    -135deg,
    rgba(16, 20, 128, 0.7) 25%,
    rgba(159, 85, 255, 0.7)
  );
}
.firstLayoutMainContainer {
  padding-left: 20%;
}
.signUp {
  padding-top: 12%;
  color: white;
  font-size: 60px;
}
.logo {
  margin-top: -14px;
  color: white;
  font-size: 4rem;
  font-weight: 700 !important;
  font-family: Arial, Helvetica, sans-serif;
}
.login {
  color: white;
  font-size: 25px;
}
.secondLayoutMainContainer {
  padding-left: 10%;
  padding-right: 10%;
}
.loginTwo {
  padding-top: 15%;
  color: #101480;
  font-size: 55px;
  font-weight: 600;
}
.createAccountSignup {
  margin-top: 0em;
  display: flex;
  font-family: "Poppins", sans-serif;
}
.accountSignup {
  font-size: 16px;
  color: #646f79;
}
.create {
  padding-left: 10px;
  font-size: 16px;
  color: #9f55ff;
  font-weight: bold;
  cursor: pointer;
}
.textInpu1 {
  display: flex;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #9f55ff;
  border-radius: 10rem;
  justify-content: space-between;
}

.signupBtns {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.wrapperLoader {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.innerWrapperLoader {
  position: absolute;
  top: 0;
}
.formGroups {
  padding: 10px 0px;
}
@media only screen and (max-width: 400px) {
  .firstLayoutMainContainer {
    padding-left: 4%;
  }
  .firstStateLayoutContainer {
    height: 60vh;
  }
  .buttonWrapper1 {
    padding-bottom: 60px;
  }
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  width: 80%;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.fade {
  transition: opacity 0.15s linear;
}
