#videoTabWrap {
  text-align: center;
}
#videoTabNavLink p {
  color: #22b9ff;
  margin-top: 5px;
  font-size: large;
}
@media screen and (max-width: 580px) {
  #videoTabNavLink p {
    color: red;
    margin-top: 5px;
    font-size: large;
  }
}

#videoTabNavLink {
  padding: 0.5rem 3rem;
}

#videoTabIcon {
  color: #22b9ff;
  font-size: large;
}
#headerVideo {
  height: 100%;
  width: 100%;
}
#headerText {
  color: #646c9a;
}

/* ---------------------Editing------------ */
.video-container {
  position: relative;
  padding-bottom: 59.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#videoStyle {
  width: 100%;
}

#uploadInput {
  display: none;
}
.editingTabWrapper {
  padding-top: 10px;
  padding-bottom: 40px;
}
.wrapperEditThumbnail {
  padding-top: 30px;
}
.btnEditThumbnailWrapper {
  display: flex;
  justify-content: space-around;
}
.thumbnaillEditMsg {
  margin-bottom: 25px;
}
.progressEditing {
  text-align: center;
  margin-right: 10%;
}

/* -----------analtics tab----------- */
.wrapperAnalytics {
  padding-bottom: 20px;
}

.wrapperVideoTab {
  padding-top: 5%;
}

@media screen and (max-width: 580px) {
  .wrapperVideoTab {
    padding-top: 12%;
  }
}
